
@{
    ViewBag.Title = "Lịch sử nhập hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Đơn hàng nhập.
}

<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-4">
                        <i class="fas fa-table"></i>
                        <b id="total"></b>
                    </div>
                    <div class="col-lg-4">
                        <div class="fa-pull-right">
                            <input type="text" class="form-control" id="txtSeach" name="" placeholder="Nhập tên sản phẩm" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="ml-1">
                                <select id="slBrand" class="form-control">
                                    <option value="0">Hãng</option>
                                </select>
                            </div>
                            <div class="ml-1">
                                <select id="slMonth" class="form-control">
                                    <option value="0">Tháng</option>
                                    <option value="1">Tháng 1</option>
                                    <option value="2">Tháng 2</option>
                                    <option value="3">Tháng 3</option>
                                    <option value="4">Tháng 4</option>
                                    <option value="5">Tháng 5</option>
                                    <option value="6">Tháng 6</option>
                                    <option value="7">Tháng 7</option>
                                    <option value="8">Tháng 8</option>
                                    <option value="9">Tháng 9</option>
                                    <option value="10">Tháng 10</option>
                                    <option value="11">Tháng 11</option>
                                    <option value="12">Tháng 12</option>
                                </select>
                            </div>
                            <div class="ml-1">
                                <button id="btnSeach" class="btn btn-info"><i class="fas fa-search"></i></button>
                                <button id="btnReset" class="btn btn-secondary"><i class="fas fa-redo"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th style="width: 210px;">Tên sản phẩm</th>
                                <th>Hãng</th>
                                <th>Giá nhập</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Ngày nhập</th>
                                <th><button id="btnDeleteAll" class="btn btn-warning" style="margin-left: 15%"><i class="fas fa-trash-alt"></i> Tất cả</button></th>
                            </tr>
                        </thead>
                        <tbody id="tblData"></tbody>
                    </table>
                    <div id="pagination" class="pagination">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="data-template" type="x-tmpl-mustache">
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{brand}}</td>
        <td>{{inputprice}} VNĐ</td>
        <td>{{unit}}</td>
        <td>{{cost}} VNĐ</td>
        <td>{{createdAt}}</td>
        <td>
            <button data-id="{{id}}" class="btnDelete btn btn-sm btn-danger" style="margin-left: 35%"><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
</script>

@section ClientScript{
    <script src="/Assets/admin/controller/historyController1.js"></script>
}
