
@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách hãng.
}

<div class="row">
    <div class="col-lg-10">
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fas fa-table"></i>
                        Data Table Example
                    </div>
                    <div class="col-md-4">
                        <div class="fa-pull-right">
                            <input type="text" class="form-control" id="txtSeach" name="seachUser" placeholder="Nhập tài khoản" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <select id="slStatus" class="form-control">
                            <option value="0">Chờ duyệt</option>
                            <option value="-1">Đã hủy</option>
                            <option value="1">Đã duyệt</option>
                            <option value="2">Đã bán</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button id="btnSeach" class="btn btn-info"><i class="fas fa-search"></i></button>
                        <button id="btnReset" class="btn btn-secondary"><i class="fas fa-redo"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Khách hàng</th>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Trạng thái</th>
                                <td>#</td>
                            </tr>
                        </thead>
                        <tbody id="tblData"></tbody>
                    </table>
                    <div id="pagination" class="pagination">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="data-template" type="x-tmpl-mustache">
    <tr>
        <td>{{id}}</td>
        <td>{{username}}</td>
        <td>{{name}}</td>
        <td><img width="100" src="{{pictureuri}}" /></td>
        <td>{{unit}}</td>
        <td>{{cost}} VNĐ</td>
        <td><button data-id="{{id}}" data-status="{{status}}" class="btnAccept btn btn-sm btn-{{style}}">{{textStatus}}</button></td>
        <td>
            <button data-id="{{id}}" class="btnDelete btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
</script>

@*<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
        Xóa
    </button>*@
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formData" class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="brand">Tên hãng:</label>
                                <input id="brand" type="text" name="brand" class="form-control" />
                                <input id="id" type="hidden" value="0" />
                            </div>
                            <div class="form-group pass">
                                <label for="pictureurl">Link logo:</label>
                                <input id="pictureurl" type="text" name="pictureurl" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-secondary">Hủy</button>
                <button type="button" id="btnSave" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

@section ClientScript
{
    <script src="/Assets/admin/controller/billController.js"></script>
}

