
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Doanh thu.
}

<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-4">
                        <i class="fas fa-table"></i>
                        <b>Tổng doanh thu: 100.000.000 VNĐ</b>
                    </div>
                    <div class="col-lg-4">
                        <div class="fa-pull-right">
                            <input type="text" class="form-control" id="txtSeach" name="" placeholder="Nhập tên sản phẩm" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="ml-1">
                                <select id="slBrand" class="form-control">
                                    <option value="0">Hãng</option>
                                </select>
                            </div>
                            <div class="ml-1">
                                <select id="slMonth" class="form-control">
                                    <option value="0">Tháng</option>
                                    <option value="1">Tháng 1</option>
                                    <option value="2">Tháng 2</option>
                                    <option value="3">Tháng 3</option>
                                    <option value="4">Tháng 4</option>
                                    <option value="5">Tháng 5</option>
                                    <option value="6">Tháng 6</option>
                                    <option value="7">Tháng 7</option>
                                    <option value="8">Tháng 8</option>
                                    <option value="9">Tháng 9</option>
                                    <option value="10">Tháng 10</option>
                                    <option value="11">Tháng 11</option>
                                    <option value="12">Tháng 12</option>
                                </select>
                            </div>
                            <div class="ml-1">
                                <button id="btnSeach" class="btn btn-info"><i class="fas fa-search"></i></button>
                                <button id="btnReset" class="btn btn-secondary"><i class="fas fa-redo"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th style="width: 370px;">Tên sản phẩm</th>
                                <th>Hãng</th>
                                <th>Số lượng</th>
                                <th>Còn lại</th>
                                <th>Doanh thu</th>
                            </tr>
                        </thead>
                        <tbody id="tblData"></tbody>
                    </table>
                    <div id="pagination" class="pagination">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="data-template" type="x-tmpl-mustache">
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{brand}}</td>
        <td>{{unit}}</td>
        <td>{{quantity}}</td>
        <td>{{cost}} VNĐ</td>
    </tr>
</script>

@section ClientScript{
    <script>
        var state = {
            page: 1,
            pageSize: 5,
            seach: '',
            brandid: 0,
            month: 0
        }
        controller = {
            init: () => {
                controller.loadData(true);
                controller.loadCatalogBrands();
                controller.registerEvent();
            },
            registerEvent: () => {
                $('#slBrand').off('onchange').on('change', function () {
                    state.brandid = parseInt($(this).val());
                    controller.loadData(true);
                });
                $('#slMonth').off('onchange').on('change', function () {
                    state.month = parseInt($(this).val());
                    controller.loadData(true);
                });
                $('#btnSeach').off('click').on('click', function () {
                    state.seach = $('#txtSeach').val();
                    controller.loadData(true);
                });
                $('#btnReset').off('click').on('click', function () {
                    controller.reset();
                    controller.loadData(true);
                });
            },
            loadData: (changePageSize) => {
                $.ajax({
                    url: '/Statistical/GetAllCatalog',
                    type: 'GET',
                    data: {
                        seach: state.seach,
                        month: state.month,
                        page: state.page,
                        brandid: state.brandid,
                        pageSize: state.pageSize
                    },
                    dataType: 'json',
                    success: (res) => {
                        let html = '';
                        let template = $('#data-template').html();
                        $.each(res.data, (i, item) => {
                            html += Mustache.render(template, {
                                id: item.id,
                                name: item.name,
                                brand: item.brand,
                                unit: item.unit,
                                quantity: item.quantity,
                                cost: formatCurrency(item.cost)
                            });
                        });
                        $('#tblData').html(html);
                        controller.paging(res.totalRow, changePageSize);
                    },
                    error: (err) => {
                        console.log(err);
                    }
                });
            },
            loadCatalogBrands: function () {
                $.ajax({
                    url: '/Catalog/GetAllBrand',
                    type: 'GET',
                    data: {},
                    dataType: 'json',
                    success: (res) => {
                        if (res.brands != null) {
                            $.each(res.brands, function (i, item) {
                                $('#slBrand').append(`<option value="${item.id}">${item.brand}</option>`);
                            });
                        }
                    },
                    error: (err) => {
                        console.log(err);
                    }
                })
            },
            paging: function (totalRow, changePageSize) {
                var totalPage = Math.ceil(totalRow / state.pageSize);
                //if (totalPage == 0) {
                //    totalPage = 1;
                //}
                //load lai totalPage
                if ($('#pagination a').length === 0 || changePageSize === true) {
                    $('#pagination').empty();
                    $('#pagination').removeData("twbs-pagination");
                    $('#pagination').unbind("page");
                }

                $('#pagination').twbsPagination({
                    totalPages: totalPage,
                    visiblePages: 5,
                    first: "Đầu",
                    last: "Cuối",
                    next: "Tiếp",
                    prev: "Trước",
                    onPageClick: function (event, page) {
                        state.page = page;
                        setTimeout(function () {
                            controller.loadData();
                        }, 10);
                    }
                });
            },
            reset: () => {
                $('#txtSeach').val('');
                $('#slBrand').val('0');
                $('#slMonth').val('0');
                state.page = 1;
                state.brandid = 0;
                state.seach = '';
                state.month = 0;
            }
        }
        controller.init();
        const formatCurrency = (n, separate = ".") => {
            var s = n.toString();
            var regex = /\B(?=(\d{3})+(?!\d))/g;
            var ret = s.replace(regex, separate);
            return ret;
        }
    </script>
}

